.repos {
	margin-top: 25px;
	border: 2px solid #2c2525;
    background-color: rgb(242,242,242);
}

.repository-selects {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.repo {
    //width: 10%;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    cursor: pointer;
    padding: 10px;
    //-webkit-transition: all 2s ease-out;
    //transition: all 2s ease-out;
    text-align: center;
    position: relative;
    background-color: rgb(242,242,242);
}

.repo h2 {
	margin-top: 10px;
	font-size: 16px;
}

.selected_repository {
	width: 95%;
	margin-left: 5%;
	vertical-align: top;
	display: inline-block;
}

.selected_repo_overview_wrapper {
    text-align: center;
}

.selected_repo_overview {
	display: inline-block;
    font-size: 20px;
}

.repository-selects h1 {
	margin-top: 0;
	font-size: 20px;
}

.repo:hover {
	background-color: #317D8D;
	color: white;
}

.back-button, .svae-button {
	float: left;
	margin: 20px;
}

.file-textarea {
	width: 100%;
	height: 450px;
}

.file p {
	display: inline-block;
	margin-right: 15px;
}

.plus {
	font-size: 38px;
}

.folder p {
	display: inline-block;
}

.modal {
	display: inline-block;
	left: 25%;
	width: 50%;
	top: 10%;
	text-align: center;
	background-color: rgb(255, 204, 204);
	border-radius: 15px;
	height: 123px;
}

.heading {
	margin-top: 33px;
}

.close {
	margin-top: 12px;
	margin-right: 15px;
}