<div class="container">
	<button *ngIf="user" (click)="deleteCookies()">Logout</button>
	
	<div *ngIf="access_token == false">
		<a href="https://github.com/login/oauth/authorize?scope={{scope}}&client_id={{client_id}}">
			Click here
		</a>
		to begin!
	</div>

	<div *ngIf="code">
		<span>Your code for token generation is: {{code}}</span>
	</div>

	<div *ngIf="access_token">
		<span>Your access token is: {{access_token}}</span>
	</div>

	<!-- Error -->
	<div class="modal error-modal" *ngIf="error">
		<div class="close" (click)="closeModal()">X</div>
		<div class="heading"><h2>{{modal_heading}}</h2></div>
		<div class="content">
			<p>{{modal_body}}</p>
		</div>
	</div>
	<!-- /Error -->


	<!-- Create Repository -->
	<div class="modal creation-modal" *ngIf="createRepositoryFlag">
		<div class="close" (click)="closeRepositoryModal()">X</div>
		<div class="heading"><h2>Създаване на ново repository</h2></div>
		
		<div class="content">
			<h6>Име на репото</h6>
			<input #name /><br />
			<h6>Описание на репото</h6>
			<input #description><br />
		</div>
		
		<button class="btn save-button" (click)="createNewRepository(name.value, description.value)">
			Create Repo
		</button>
	</div>
	<!-- /Create Repository -->

	<!-- Create Directory -->
	<div class="modal creation-modal" *ngIf="createDirectoryFlag">
		<div class="close" (click)="closeDirectoryModal()">X</div>
		<div class="heading"><h2>Създаване на нова директория /папка/</h2></div>
		
		<div class="content">
			<h6>Име на папката</h6>
			<input #name /><br />
		</div>
		<button class="btn save-button" (click)="createNewDirectory(name.value)">
			Create Directory
		</button>
	</div>
	<!-- /Create Directory -->


	<!-- PROFILE -->
	<div *ngIf="profile_ready">
		<img src = "{{user.avatar_url}}" />
		<div class='profile-div'>
			<p>Потребителско име: <input [(ngModel)] = "user.login" value='{{user.login}}' [readonly] = "!disabler.login" (click)="disableThat('login')" /></p>
			<p>Имейл: <input [(ngModel)] = "user.email" value='{{user.email}}' [readonly] = "!disabler.email" (click)="disableThat('email')" /></p>
			<p>Сайт на блога: <input [(ngModel)] = "user.blog" value='{{user.blog}}' [readonly] = "!disabler.blog" (click)="disableThat('blog')" /></p>
			<p>Място на затвор: <input [(ngModel)] = "user.company" value='{{user.company}}' [readonly] = "!disabler.company" (click)="disableThat('company')" /></p>
			<p>Място на препитание: <input [(ngModel)] = "user.location" value='{{user.location}}' [readonly] = "!disabler.location" (click)="disableThat('location')" /></p>
			<!-- <p>Става ли за работа: <input [(ngModel)] = "user.hireable" value='{{user.hireable}}' [readonly] = "!disabler.hireable" (click)="disableThat('hireable')" /></p> -->
			<p>Кратко описание: <input [(ngModel)] = "user.bio" value='{{user.bio}}' [readonly] = "!disabler.bio" (click)="disableThat('bio')" /></p>
			<button (click)=updateUserInformation(user) class="save-button">Запази промяната...</button>
		</div>
	</div>
	<!-- /PROFILE -->

	<!-- PERSONAL REPOSITORIES WRAPPER -->
	<div *ngIf="personal_repos">
		<!-- PERSONAL REPOSITORIES -->
		
		<div class="repository-selects">
			<h1>Персонални репота</h1>
			<div class="repos">
				<div class="repo" *ngFor="let repository of personal_repos" (click)="onSelect(repository)">
					<h2 class="Title Field">{{repository.name}}</h2>
				</div>
				<div class="repo" (click)="initNewRepoCreation()">
					<i class="fa fa-plus-circle fa-6 plus" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<!-- /PERSONAL REPOSITORIES -->

		<!-- SELECTED REPOSITORY -->
		<div *ngIf="selectedRepo" class="selected_repository">
			<button (click)="deleteRepository(selectedRepo)" class="btn delete-btn">Изтрий хранилището...</button>
			<!-- INFORMATION FOR REPOSITORY -->
			<div class="selected_repo_overview_wrapper">
				<!-- <p>{{selectedRepo.id}}</p> -->
				<p class="selected_repo_overview">Име на репото: {{selectedRepo.name}}</p>
				<p class="selected_repo_overview">Притежател на репото: {{selectedRepo.owner.login}}</p>
				<br />
				<p class="selected_repo_overview">Основен език на писане на репото: {{selectedRepo.language}}</p>
				<p class="selected_repo_overview">Описание на репото: {{selectedRepo.description}}</p>
			</div>
			<!-- /INFORMATION FOR REPOSITORY -->

			<!-- CONTENT OF REPOSITORY -->
			<div class="repo-filesystem">
				<div *ngIf="checkForUpdates()">
					<button *ngIf="notRootDirectory" (click)=returnFromFolder()>Назад...</button>
					<div class="folders">
						<div class="folder" *ngFor="let folder of selectedFolders">
							<i class="fa fa-folder" aria-hidden="true"></i>
							<p (click)="getFolderFromView(folder)">{{folder.name}}</p>
						</div>

						<div class="new_folder">
							<p (click)="createDirectory()">Нова директория...</p>
						</div>

					</div>

					<div class="files">
						<div class="file" *ngFor="let file of selectedFiles">
							<i class="fa fa-file" aria-hidden="true"></i>
							<p (click)="fetchFile(file)">{{file.name}}</p>
							<span (click)="deleteFile(file)">Изтрий файла...</span>
						</div>

						<div class="new_file">
							<p (click)="createFile()">Нов файл...</p>
						</div>
					</div>
				</div>

				<div *ngIf="isFileSelected">
					<button (click)="returnFromFile()" class="back-button">Назад...</button>
					<textarea class="file-textarea" [(ngModel)]="selectedFile.decodedContent">{{selectedFile.decodedContent}}</textarea>
					<button (click)="saveFileCall(selectedFile)" class="save-button">Запази промените...</button>
				</div>

				<div *ngIf="newFileSelected">
					<button (click)="returnFromFile()" class="back-button">Назад...</button>
					<input class = "file-input" [(ngModel)]="newFile.name" />
					<textarea class="file-textarea" [(ngModel)]="newFile.decodedContent">{{newFile.decodedContent}}</textarea>
					<button (click)="createFileCall(newFile)" class="save-button">Създай файла...</button>
				</div>
			</div>
			<!-- /CONTENT OF REPOSITORY -->
		</div>
		<!-- /SELECTED REPOSITORY -->
	</div>
	<!-- /PERSONAL REPOSITORIES WRAPPER -->
</div>

<br />
<br />
