<div class="container">
	<div *ngIf="access_token == false">
		<a href="https://github.com/login/oauth/authorize?scope={{scope}}&client_id={{client_id}}">
			Click here
		</a>
		to begin!
	</div>

	<div *ngIf="code">
		<span>Your code for token generation is: {{code}}</span>
	</div>

	<div *ngIf="access_token">
		<span>Your access token is: {{access_token}}</span>
	</div>

	<div *ngIf="profile_ready">
		<img src = "{{user.avatar_url}}" />
		<div class='profile-div'>
			<p>Потребителско име: <input [(ngModel)] = "user.login" value='{{user.login}}' /></p>
			<p>Имейл: <input [(ngModel)] = "user.email" value='{{user.email}}' /></p>
			<p>Сайт на блога: <input [(ngModel)] = "user.blog" value='{{user.blog}}' /></p>
			<p>Място на затвор: <input [(ngModel)] = "user.company" value='{{user.company}}' /></p>
			<p>Място на препитание: <input [(ngModel)] = "user.location" value='{{user.location}}' /></p>
			<p>Става ли за работа: <input [(ngModel)] = "user.hireable" value='{{user.hireable}}' /></p>
			<p>Кратко описание: <input [(ngModel)] = "user.bio" value='{{user.bio}}' /></p>
			<button (click)=updateUserInformation(user) class="save-button">Запази промяната...</button>
		</div>
	</div>

	<div *ngIf="personal_repos">
		<div class="repository-selects">
			<h1>Персонални репота</h1>
			<div class="repos">
				<div class="repo" *ngFor="let repository of personal_repos" (click)="onSelect(repository)">
					<h2 class="Title Field">{{repository.name}}</h2>
				</div>
				<div class="repo" (click)="createNewRepository">
					<i class="fa fa-plus-circle fa-6 plus" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div *ngIf="selectedRepo" class="selected_repository">
			<div class="selected_repo_overview_wrapper">
				<!-- <p>{{selectedRepo.id}}</p> -->
				<p class="selected_repo_overview">Име на репото: {{selectedRepo.name}}</p>
				<p class="selected_repo_overview">Притежател на репото: {{selectedRepo.owner.login}}</p>
				<br />
				<p class="selected_repo_overview">Основен език на писане на репото: {{selectedRepo.language}}</p>
				<p class="selected_repo_overview">Описание на репото: {{selectedRepo.description}}</p>
			</div>

			<div class="repo-filesystem">
				<div *ngIf="checkForUpdates()">
					<button *ngIf="notRootDirectory" (click)=returnFromFolder()>Назад...</button>
					<div class="folders">
						<div class="folder" *ngFor="let folder of selectedFolders">
							<i class="fa fa-folder" aria-hidden="true"></i>
							<p (click)="getFolderFromView(folder)">{{folder.name}}</p>
						</div>
					</div>

					<div class="files">
						<div class="file" *ngFor="let file of selectedFiles">
							<i class="fa fa-file" aria-hidden="true"></i>
							<p (click)="fetchFile(file)">{{file.name}}</p>
							<span (click)="deleteFile(file)">Изтрий файла...</span>
						</div>

						<div class="new_file">
							<p (click)="createFile()">Нов файл...</p>
						</div>
					</div>
				</div>

				<div *ngIf="isFileSelected">
					<button (click)="returnFromFile()" class="back-button">Назад...</button>
					<textarea class="file-textarea" [(ngModel)]="selectedFile.decodedContent">{{selectedFile.decodedContent}}</textarea>
					<button (click)="saveFileCall(selectedFile)" class="save-button">Запази промените...</button>
				</div>

				<div *ngIf="newFileSelected">
					<button (click)="returnFromFile()" class="back-button">Назад...</button>
					<input class = "file-input" [(ngModel)]="newFile.name" />
					<textarea class="file-textarea" [(ngModel)]="newFile.decodedContent">{{newFile.decodedContent}}</textarea>
					<button (click)="createFileCall(newFile)" class="save-button">Създай файла...</button>
				</div>
			</div>
		</div>
	</div>
</div>

<br />
<br />
